@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #4F1067;
    --primary-foreground: #FFFFFF;
    --secondary: #EC167F;
    --secondary-foreground: #FFFFFF;
    --destructive: #CD202C;
    --destructive-foreground: #FFFFFF;

    --background: #FFFFFF;
    --foreground: #000000;
    --card: #FFFFFF;
    --card-foreground: #000000;
    --popover: #FFFFFF;
    --popover-foreground: #000000;

    --muted: #A9B2B1;
    --muted-foreground: #71717B;
    --accent: #F2DF74;
    --accent-foreground: #7C2128;
    --border: #E4E4E7;
    --input: #E4E4E7;
    --ring: #9F9FA9;
  }

  .dark:root {
    --primary: #4F1067;
    --primary-foreground: #FFFFFF;
    --secondary: #EC167F;
    --secondary-foreground: #FFFFFF;
    --destructive: #CD202C;
    --destructive-foreground: #FFFFFF;

    --background: #FFFFFF;
    --foreground: #000000;
    --card: #FFFFFF;
    --card-foreground: #000000;
    --popover: #FFFFFF;
    --popover-foreground: #000000;

    --muted: #A9B2B1;
    --muted-foreground: #71717B;
    --accent: #F2DF74;
    --accent-foreground: #7C2128;
    --border: #E4E4E7;
    --input: #E4E4E7;
    --ring: #9F9FA9;
  }
}
